body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height:250px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}
#sample_add_id {
  width: 100%;
  height:200px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}
#sample_text_id {
  font-size: 25pt;
  text-align: center;
  margin-top: 20px;
  -webkit-user-select: none;
  user-select: none;
  color:#0080FF;
}
#introduction{
  font-size:14pt;
  margin-top: 10px;
}
#button_add_id1{
  font-size:15pt;
  width:50px;
  color:#333333;
}

#a{
  font-size:15pt;
  margin-top: 30px;
  text-align: center;
}
#b{
  font-size:15pt;
  text-align: center;
}
#c{
  font-size:18pt;
  text-align:center;
}
#add_1_To_100{
  font-size:15pt;
  text-align:center;
}
#button_add_id2{
  font-size:15pt;
  width:50px;
  color:#333333;
}
#result{
  font-size:18pt;
  text-align:center;
}