body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

 #sample_studentid_id{
  margin-top: 40px;
   text-align: center;
}

 #sample_studentone_id{
  margin-top: 40px;
  text-align: center;
  position: relative;
   width: 50px;
}
 #sample_studenttwo_id{
  margin-top: 40px;
  text-align: center;
  position: relative;
   width: 50px;
}
#sample_student_id{
  margin-top: 40px;
  text-align: center;
  position: relative;
    width: 450px;
    margin-left: 450px;
}
#sample_symbol_id{
  margin-top: 40px;
  text-align: center;
  position: relative;
  width: 30px;
}
#sample_picture_id{
    margin-top: 40px;
    text-align: center;
    position: relative;
    width: 350px;
    margin-left: 0px;
}